@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lexend';
  font-style: normal;
  transition: 0.2s;
}


html,body{
  background-color: #fafafa;
}

.cursor{
  width: 3rem;
  height: 3rem;
  /* border: 2px solid black; */
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%,-50%);
  pointer-events: none;
  background-color: white;
  mix-blend-mode: difference;
  /* transition: 0.1s; */
}
.noticestatement{
  font-size: 10pt;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}

.parent {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-height: 10vh;
  align-items: center;
  margin: auto;


}

.nav-links{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-links li a{
  margin: 0px 20px;
  text-decoration: none;
  color: black;
  font-size: 12px;
}


.main-hero{
  padding: 150px;
  display: flex;
  width: 75%;
  flex-wrap: wrap;

}

.main-hero-left h1{
  font-weight: 200;
  font-size: 30pt;
}

